<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="carlist"><img src="https://img.freepik.com/premium-vector/car-logo-design-vector-template_646761-35.jpg" alt="carLogo" style="height: 64px; width: 64px; border-radius: 50%;"></a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" routerLink="carlist" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">CarList</a>
          <a class="nav-link" routerLink="login" routerLinkActive="active" *ngIf="!isSingin">Login</a>
          <a class="nav-link" routerLink="registration" routerLinkActive="active" *ngIf="!isSingin"  style="border: 1px solid black; border-radius: 5px;">Registration</a>
          <a class="nav-link" style="color: rgb(255, 81, 81); cursor: pointer;" *ngIf="isSingin">Sign out</a>
        </div>
      </div>
    </div>
  </nav>